<article class="post">
    <div class="title">
        <a href="/posts/{{id}}" target="_blank">{{title}}</a>
        <p>{{post_text}}</p>
    </div>
    <div class="meta">
        {{#if user.username}}
        by {{user.username}} on {{format_date created_at}}
        {{else}}
        by Anonymous on {{format_date created_at}}
        {{/if}}
        |
        <a href="/posts/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
</article>